.container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: baseline;
}

.word {
  display: block;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}
