.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--color-black);
  overflow: hidden;
}

/* Side Labels */
.sideLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--font-secondary);
  font-size: var(--font-small);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-gray);
  letter-spacing: 0.2em;
}

.left {
  left: 2rem;
}

.right {
  right: 2rem;
}

/* Logo Container */
.logoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 50em;
  aspect-ratio: 656 / 204;
}

.logoMask {
  width: 100%;
  height: 100%;
  mask-image: url('/icons/mae.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url('/icons/mae.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.logoImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}
