.section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0.5em;
  background: var(--color-dark);
}

/* Green Banner - Position only */
.banner {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  left: auto;
  width: 16em;
  min-height: 18em;
  z-index: 2;
}

.bannerButton {
  font-size: var(--font-tag);
}

/* Responsive - Mobile */
@media screen and (max-width: 767px) {
  .section {
    padding: 0;
    height: 100svh;
  }

  .banner {
    position: absolute !important;
    top: auto !important;
    bottom: 0 !important;
    right: 0 !important;
    left: auto !important;
    width: 14em;
    min-height: 14em;
  }

  .bannerButton {
    font-size: 0.5em;
  }
}
