.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileLogo {
  width: 70%;
  max-width: 20em;
  height: auto;
  filter: brightness(0) invert(1);
}
